.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: fit-content;
}

.cart-section {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 5px;
}

.cart-item {
    padding: 0.7rem;
    margin-top: 1rem;
    border-radius: 5px;
    display: flex;
    background-color: rgb(240, 240, 240);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap; 
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    
}

button {
    border: solid 1px black;
}
